/****    Variables    ****/

$clr1: #424D52;
$clr2: #313638;
$clr3: #FFFFFF;
$clr4: #E14631;

$family1: "Open Sans", "Sans Serif";
$family2: "Amaranth", "Sans Serif";


/****    Reset    ****/


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/****    Global Aspect    ****/


body {
    background-color: $clr1;
    color: $clr3;
    font-size: 1.4rem;
}

h1, h2, h3 {
    color: $clr4;
}

h1 {
    font-size: 4.5rem;
    padding: 1rem 3rem;
    border-right: 1px solid $clr1;
}

h2 {
    font-size: 3.5rem;
    font-weight: normal;
    padding: 2rem;
    align-self: start;
}

h3 {
    font-size: 2.5rem;
    font-weight: normal;
    padding: 1rem;
    text-indent: 3rem;
}

p {
    font-size: 2rem;
    padding-bottom: 1rem;
}


/****    Header    ****/


header {
    background-color: $clr2;
    border-bottom: 2px solid $clr4;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    nav {
        align-self: center;
        padding-right: 3rem;
    }

    a {
        color: $clr4;
        font-size: 2rem;
        text-decoration: none;
        padding: 1rem;
        border: 2px solid transparent;
    }

    a:hover {
        border: 2px solid $clr4;
        border-radius: 2rem;
    }
}


/****    Main    ****/


main {
    max-width: 1500px;
    margin: auto;
}

section {
    padding: 2rem 1rem 0;
}

#presentation {

    .content {
        padding: 0 5% 3rem;
        border-bottom: 2px solid $clr4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
    }

    img {
        max-height: 20rem;
        border-radius: 5rem;
    }

    p {
        text-indent: 2rem;
    }

}

#projets {
    
    .content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        border-bottom: 2px solid $clr4;

        a {
            text-decoration: none;
        }
    }

    article {
        padding-bottom: 2rem;
    }

}

.projet {
    height: 20rem;
    width: 34rem;
    border: 2px solid $clr4;
    border-radius: 5rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: all 1s ease-in;

    p {
        color: $clr2;
        font-size: 3rem;
    }
}

.projet:hover {
    transform: scale(1.1);
}

.techs {
    display: flex;
    color: $clr3;
    
    p {
        font-size: 1.4rem;
        background-color: $clr4;
        border-radius: 5rem;
        padding: 0.2rem 0.5rem 0.1rem;
        margin: 0 1rem;
    }
}

#contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    p {
        text-align: center;
    }

    a {
        display: flex;
        margin: 1rem 5rem;
        font-size: 2rem;
        color: $clr3;
        background-color: $clr4;
        padding: 1rem;
        border: 2px solid $clr4;
        border-radius: 2rem;
        text-decoration: none;
    }

    a:hover {
        color: $clr4;
        background-color: $clr3;
    }
}

i {
    padding-right: 1rem;
}

form {
    padding: 1rem;
    border: 2px solid $clr4;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.8rem;
}

label {
    padding: 1rem 2rem 1rem;
    text-align: start;
}

input, textarea {
    background-color: $clr3;
    border: 2px solid transparent;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

input:hover, textarea:hover {
    border: 2px solid $clr4;
}

input:focus, textarea:focus {
    outline-offset: -3px;
    outline: 2px solid $clr4;
}

input[type=submit] {
    color: $clr3;
    background-color: $clr4;
    align-self: center;
    width: fit-content;
    padding: 1rem 3rem;
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
}

input[type=submit]:hover {
    color: $clr4;
    background-color: $clr3;

}

/****    Footer    ****/


footer {
    background-color: $clr2;
    border-top: 2px solid $clr4;
    margin-top: 2rem;
}